# Get the Type
You can get the data type of a variable with the type() function.

In [5]:
a=10

In [2]:
type(a)

int

In [3]:
type(345)

int

In [6]:
z='pooja'
print(z)
print(type(z))

pooja
<class 'str'>

# python

In [7]:
y="Singh"

In [8]:
y

'Singh'

In [9]:
x

NameError: name 'x' is not defined

In [10]:
c=True

In [11]:
type(c)

bool

In [12]:
c=False

In [13]:
type(c)

bool

In [62]:
b=12.34

In [63]:
type(b)

float

# Variable Names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

- A variable name must start with a letter or the underscore character

- A variable name cannot start with a number

- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

- Variable names are case-sensitive (age, Age and AGE are three different variables)

- A variable name cannot be any of the Python keywords.

In [14]:
age=10

In [15]:
age

10

In [17]:
4age=20

SyntaxError: invalid decimal literal (930818929.py, line 1)

In [18]:
_4age=30

In [19]:
_4age

30

In [21]:
total_sum =100

In [23]:
age=10

In [25]:
Age =20

In [26]:
aGe=30

In [27]:
AGE=40

In [28]:
import keyword

In [29]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [31]:
type(b)

float

# Output Variables
The Python print() function is often used to output variables.

In [33]:
print(age)

10

In [34]:
print(AGE)

40

In [37]:
print("My age is ",age,",",AGE)

My age is  10 , 40

# Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [38]:
a=10
b=20
c=30

In [39]:
print("a=",a,"\nb=",b,"\nc=",c)

a= 10
b= 20
c= 30

In [40]:
x,y,z=20,10,30

In [41]:
print("x=",x,"\ny=",y,"\nz=",z)

x= 20
y= 10
z= 30

In [42]:
age,name=26,'pooja'

In [43]:
print("My name is ",name," and I am ",age," years old.")

My name is  pooja  and I am  26  years old.

# One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [44]:
a=10
b=10
c=10

In [48]:
a=b=c=20

In [49]:
a

20

In [50]:
b

20

In [51]:
c

20

# Python Comments

In [52]:
#- for single line comment

In [55]:
a,b=10,"abc"
#print(a)
print(b)

abc

""""""/'''''' for multiline comment

In [56]:
a,b=10,"abc"
'''print(a)
print(b)'''

print("Hello")

Hello

# Data Types
- In programming, data type is an important concept.

- Variables can store data of different types, and different types can do different things.

- Python has the following data types built-in by default, in these categories:

- Text Type: str 
- Numeric Types: int, float, complex

- Sequence Types: list, tuple, range 
- Mapping Type: dict 
- Set Types: set, frozenset

- Boolean Type: bool

- Binary Types: bytes, bytearray, memoryview

- None Type: NoneType

​

# Single or Double Quotes
String variables can be declared either by using single or double quotes:

In [72]:
name="pooja"

In [58]:
print(name)

pooja

In [59]:
_name='Tanisha'

In [60]:
print(_name)

Tanisha

# Python Numbers
There are three numeric types in Python:

- int 
- float 
- complex

In [64]:
n=1000

In [65]:
type(n)

int

In [66]:
x=36.78

In [67]:
type(x)

float

In [68]:
z=3+2j

In [69]:
type(z)

complex

In [70]:
z.real

3.0

In [71]:
z.imag

2.0

# Python Booleans
- Booleans represent one of two values: True or False.
- In programming you often need to know if an expression is True or False.
- When you compare two values, the expression is evaluated and Python returns the Boolean answer:True or False.

In [78]:
10>20

False

In [79]:
20==20

True

# Python None Keyword
- The None keyword is used to define a null value, or no value at all.

- None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

In [80]:
x=None

In [81]:
x==0

False

In [82]:
x=='Null'

False

# Casting
If you want to specify the data type of a variable, this can be done with casting.

In [83]:
x=10

In [99]:
y=input("Enter the number")

Enter the number30

In [100]:
y

'30'

In [101]:
type(y)

str

In [104]:
y=int(y)

In [105]:
y

30

In [110]:
z=int(input("Enter the number"))

Enter the number40

In [107]:
z

40

In [108]:
int('poo1234')

ValueError: invalid literal for int() with base 10: 'poo1234'

In [111]:
z=int(input("Enter the number"))

Enter the numbersjdg

ValueError: invalid literal for int() with base 10: 'sjdg'

In [112]:
#int/float/complex to str
str(23)

'23'

In [114]:
x=23.34
type(x)

float

In [116]:
x=str(x)

In [117]:
type(x)

str

In [118]:
c = 2+5j

In [120]:
type(c)

complex

In [123]:
c=str(c)
c

'(2+5j)'

In [122]:
type(c)

str

In [125]:
#int to float
x=20
type(x)

int

In [129]:
x=float(x)
x

20.0

In [130]:
type(x)

float

In [134]:
f=20.65
type(f)

float

In [135]:
f=int(f)
type(f)

int

In [136]:
#int to complex
f

20

In [137]:
complex(f)

(20+0j)

In [138]:
# complex to int/float
z=5+10j
type(z)

complex

In [139]:
int(z)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [140]:
float(z)

TypeError: float() argument must be a string or a real number, not 'complex'

In [141]:
complex('20')

(20+0j)

In [142]:
complex('poo')

ValueError: complex() arg is a malformed string

# Most Values are True
- Almost any value is evaluated to True if it has some sort of content.

- Any string is True, except empty strings.

- Any number is True, except 0.

- Any list, tuple, set, and dictionary are True, except empty ones.

# Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [143]:
bool(1)

True

In [144]:
bool(0)

False

In [146]:
bool(12345566779898)

True

In [147]:
bool()

False

In [148]:
bool("abc")

True

In [149]:
bool(["apple", "cherry", "banana"])

True

In [150]:
bool(None)

False

In [151]:
bool(False)

False

In [153]:
bool("")

False

In [154]:
bool(())

False

In [155]:
bool([])

False

In [156]:
bool({})

False

In [157]:
int(True)

1

In [158]:
int(False)

0

In [159]:
float(True)

1.0

In [160]:
complex(False)

0j