# Get the Type
You can get the data type of a variable with the type() function.

In [5]:
a=10

In [2]:
type(a)

int

In [3]:
type(345)

int

In [6]:
z='pooja'
print(z)
print(type(z))

pooja
<class 'str'>

# python

In [7]:
y="Singh"

In [8]:
y

'Singh'

In [9]:
x

NameError: name 'x' is not defined

In [10]:
c=True

In [11]:
type(c)

bool

In [12]:
c=False

In [13]:
type(c)

bool

In [62]:
b=12.34

In [63]:
type(b)

float

# Variable Names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

- A variable name must start with a letter or the underscore character

- A variable name cannot start with a number

- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

- Variable names are case-sensitive (age, Age and AGE are three different variables)

- A variable name cannot be any of the Python keywords.

In [14]:
age=10

In [15]:
age

10

In [17]:
4age=20

SyntaxError: invalid decimal literal (930818929.py, line 1)

In [18]:
_4age=30

In [19]:
_4age

30

In [21]:
total_sum =100

In [23]:
age=10

In [25]:
Age =20

In [26]:
aGe=30

In [27]:
AGE=40

In [28]:
import keyword

In [29]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [31]:
type(b)

float

# Output Variables
The Python print() function is often used to output variables.

In [33]:
print(age)

10

In [34]:
print(AGE)

40

In [37]:
print("My age is ",age,",",AGE)

My age is  10 , 40

# Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [38]:
a=10
b=20
c=30

In [39]:
print("a=",a,"\nb=",b,"\nc=",c)

a= 10
b= 20
c= 30

In [40]:
x,y,z=20,10,30

In [41]:
print("x=",x,"\ny=",y,"\nz=",z)

x= 20
y= 10
z= 30

In [42]:
age,name=26,'pooja'

In [43]:
print("My name is ",name," and I am ",age," years old.")

My name is  pooja  and I am  26  years old.

# One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [44]:
a=10
b=10
c=10

In [48]:
a=b=c=20

In [49]:
a

20

In [50]:
b

20

In [51]:
c

20

# Python Comments

In [52]:
#- for single line comment

In [55]:
a,b=10,"abc"
#print(a)
print(b)

abc

""""""/'''''' for multiline comment

In [56]:
a,b=10,"abc"
'''print(a)
print(b)'''

print("Hello")

Hello

# Single or Double Quotes
String variables can be declared either by using single or double quotes:

In [57]:
name="pooja"

In [58]:
print(name)

pooja

In [59]:
_name='Tanisha'

In [60]:
print(_name)

Tanisha

# Python Numbers
There are three numeric types in Python:

- int 
- float 
- complex

In [64]:
n=1000

In [65]:
type(n)

int

In [66]:
x=36.78

In [67]:
type(x)

float

In [68]:
z=3+2j

In [69]:
type(z)

complex

In [70]:
z.real

3.0

In [71]:
z.imag

2.0