In [1]:
a = 5 
print(a)

5

In [2]:
b = 4
print(b)

4

In [3]:
a = 5
z = 4

In [4]:
if a > c:
    print("hey")

NameError: name 'c' is not defined

In [ ]:
b = 5
c = 6

In [ ]:
if b < c:
    print("b is of course less then c")

In [ ]:
a = 4
b = 3 

if a < b:
    print("but 4 is less then 3")
else:
    print("hey a is bigger then b")

In [ ]:
s = 33
b = 33

if  s < b:
    print("yes s is less then b")
elif s ==b:
    print("s is equal to b")
else:
    print('s is bigger then b ')

# loop

In [ ]:
while loop

expression is false

In [ ]:
n= int(input(" enter the number: "))
i=n
while i>=1:
    print(i)
    i-=1

# Break

In [ ]:
for i in range(12):
    print("5 x", i+1,"=",5 * (i+1))
    if(i ==10):
        break

In [ ]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range (1,10):
    if i == 6:
        break
    print(i)

In [ ]:
for i in range (10,100):
    if i == 85:
        break
    print(i)

In [ ]:
for i in range (1,25):
    if i == 19:
        break
    print(i)

# continue

In [ ]:
for i in range (1,10):
    if i == 6:
        continue 
    print(i)
    print("hello hemant this side")

In [ ]:
for i in range (1,20):
    if i == 5:
        continue
    print(i)
    print("hello TGC")

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
list(range(10,0,-1))

In [ ]:
list(range(15))

In [ ]:
list(range(21))

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
for i in " delhi ":
    print(i)

In [ ]:
number =int(input("enter the number "))

i = 1

while i<11:
    print(number * 1)
    i+=1

# pass

In [1]:
i=0
while i<10:
    i+=1
    pass
      
print("hello")

hello

In [2]:
for i in range (10):
    pass
print("hemant")

hemant

# The else statement

In [3]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print(i**2)

1
2
3
4
5
36

In [4]:
n=int(input("enter the number"))
i=2
flag=True

while i<n:
    if n%i==0:
        flag =False
        break
    i+=1
    
if flag:
    print(F"{n} is a prime  number")
else:
    print(F"{n} is a composite number")

enter the number10
10 is a composite number

In [5]:
i=1

while i<=5:
    print("*"*i)
    i+=1

*
**
***
****
*****

In [6]:
i=1

while i<=10:
    print("*"*i)
    i+=1

*
**
***
****
*****
******
*******
********
*********
**********

In [7]:
j=2
i=1

while i<=5:
    print("  "*j,"*"*i)
    i+=2
    j-=1

     *
   ***
 *****

In [8]:
i=1

while i<=5:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print("")
    i+=1

1
12
123
1234
12345

In [9]:
i=1
while i<6:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print("")
    i+=1

1
12
123
1234
12345

In [10]:
i=65
while i<6:
    j=1
    while j<=i:
        print(j,end="")
        j+=1
    print("")
    i+=1

In [11]:
ord('A')

65

In [12]:
chr(ord('A')+1)

'B'

In [13]:
chr(67)

'C'

In [14]:
ord('C')

67

In [15]:
i=1
k=65
while i<=3:
    print(i,chr(k))
    k+=1
    i+=1

1 A
2 B
3 C

# For loops

In [16]:
# THE Range Function

In [17]:
range(5)

range(0, 5)

In [18]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
list(range(1,5))

[1, 2, 3, 4]

In [20]:
list(range(1,5,2))

[1, 3]

In [21]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [22]:
n=int(input("enter the number:"))

for i in range(1,n+1):
    print(i)

enter the number:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
n=int(input("enter the number:"))

for i in range(n,0,-1):
       print(i)

In [23]:
# factorial number

In [24]:
n=int(input("enter the number:"))
fact=1

for i in range(n,0,-1):
    fact*=i
    
    
print(f"{n}!={fact}")

enter the number:20
20!=2432902008176640000

In [25]:
n=int(input("enter the number:"))
fact=1

for i in range(n,0,-1):
    fact*=i
    
print(f"{n}!={fact}")

enter the number:10
10!=3628800

In [26]:
# for loop throungh string

In [27]:
s=input("enter the number of the person: ")

for i in s:
    print(i)

enter the number of the person: 15
1
5

In [28]:
s=input("enter the number of the person: ")

for i in s:
    print(i)

enter the number of the person: 25
2
5

In [29]:
s=input("enter the number of the person: ")

for i in range(len(s)):
    if i%2!=0:
        print(s[i])

enter the number of the person:

In [30]:
s=input("enter the number of the person: ")

for i in range(1,len(s),2):
    if i%2!=0:
        print(s[i])

enter the number of the person:

In [82]:
s=input("enter the number of the person: ")

for i in range(-1,len(s)):
    if i%2!=0:
        print(s[i])

enter the number of the person: HEMANT
T
E
A
T

In [40]:
s=input("enter the number of the person: ")

for i in s[::-1]:
    print(i.upper())

enter the number of the person: HEMANT
T
N
A
M
E
H

In [41]:
s=input("enter the number of the person: ")

for i in s[::-1]:
    print(i.lower())

enter the number of the person: naman
n
a
m
a
n

In [42]:
list=list(map(int,input("enter the number").split(",")))

for i in list:
    print(i)

enter the number1,20,10,15,30
1
20
10
15
30

In [83]:
lst=list(map(int,input("enter the number").split(",")))
_sum=0
for i in lst:
    _sum+=i
    
    
print(f"sum if items: {_sum}")

enter the number10,20,30

TypeError: 'list' object is not callable

In [36]:
#data types function modelus

In [45]:
lst=list(map(int,input("enter the number").split(",")))
even=[]
odd=[]

for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print(f"even list:{even}\nodd list:{odd}")

enter the number10,20,55,45,14,25,30,56,98,78,88

TypeError: 'list' object is not callable

In [ ]:
# the break statement

In [5]:
l=[2,3,4,5,15,25,75,10,20,30]


for i in l:
    if i%2==0 and i%5==0:
        break
    print(i)

2
3
4
5
15
25
75

In [10]:
l=[2,3,4,5,15,25,75,10,20,35,52]

for i in l:
    if i%2==0 and i%5==0:
        continue
    print(i)

2
3
4
5
15
25
75
35
52

In [38]:
for i in range (1,10):
    if i == 6:
        continue 
    print(i)
    print("hello hemant this side")

1
hello hemant this side
2
hello hemant this side
3
hello hemant this side
4
hello hemant this side
5
hello hemant this side
7
hello hemant this side
8
hello hemant this side
9
hello hemant this side

In [39]:
for i in range (1,10):
    if i == 6:
        continue 
    print(i)
    print("Tgc")

1
Tgc
2
Tgc
3
Tgc
4
Tgc
5
Tgc
7
Tgc
8
Tgc
9
Tgc

# The pass statement

In [47]:
for i in [1,25,3]:
    pass
    
    
print("hello")

hello

In [52]:
for i in [1,25,3]:
    pass
    
    
print("hello")
print(2+5)

hello
7

# Else in for loop

In [53]:
n=int(input(" enter the number: "))


for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite number")
        break

else:
    print(F"{n} is a prime number")

 enter the number: 7
7 is a prime number

In [54]:
n=int(input(" enter the number: "))


for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite number")
        break

else:
    print(F"{n} is a prime number")

 enter the number: 15
15 is a composite number

In [55]:
n=int(input(" enter the number: "))


for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite number")
        break

else:
    print(F"{n} is a prime number")

 enter the number: 12
12 is a composite number

In [56]:
n=int(input(" enter the number: "))


for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite number")
        break

else:
    print(F"{n} is a prime number")

 enter the number: 78
78 is a composite number

In [58]:
n=int(input(" enter the number: "))


for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite number")
        break

else:
    print(F"{n} is a prime number")

 enter the number: 9
9 is a composite number

In [59]:
n=int(input(" enter the number: "))


for i in range(2,n):
    if n%i==0:
        print(f"{n} is a composite number")
        break

else:
    print(F"{n} is a prime number")

 enter the number: 3
3 is a prime number

# Nested loop

In [60]:
x=[2,3]
y=[4,5,6]
z=[]

for i in x:
    for j in y:
        z.append(i*j)

print(z)

[8, 10, 12, 12, 15, 18]

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [62]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

A
A B
A B C
A B C D
A B C D E

In [81]:
for i in range(1,6):
    k=65
    for j in range(i):
        print(chr(k+j),end=" ")
    print(" ")

A
A B
A B C
A B C D
A B C D E

In [72]:
i=1

while i<=10:
    print("*"*i)
    i+=1

*
**
***
****
*****
******
*******
********
*********
**********

*
**
***
****
*****

In [73]:
i=1

while i<=5:
    print("*"*i)
    i+=1

*
**
***
****
*****

In [ ]:
A
BB
CCC
DDDD
EEEEE

In [84]:
k=65
for i in range(5):
    print(chr(k+i)*(i+1))

A
BB
CCC
DDDD
EEEEE

1010101
10101
101
1

In [105]:
for i in range(1,5):
    for k in range(1,i+1):
        print(i)

1
2
2
3
3
3
4
4
4
4

In [100]:
a,b=map(int,input("enter the number:").split(","))

c=max(a,b)

while True:
    if c%a==0 and c%b==0:
        print(f"lcm of {a} and {b} is {c}")
        break
    c+=1

enter the number:4,12
lcm of 4 and 12 is 12

# List comprehension

In [4]:
l=[2,4,5,6,7]
lst=[]

for i in l:
    lst.append(i**2)
    
lst

[4, 16, 25, 36, 49]

In [6]:
[i**2 for i in l]

[4, 16, 25, 36, 49]

In [8]:
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
        
l1

[2, 4, 6]

In [9]:
[i for i in l if i%2==0]

[2, 4, 6]

In [1]:
l=list(map(int,input("enter the number").split (",")))
even=[]
odd=[]

for i in l:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
    print(f"even= {even}\nodd = {odd}")

enter the number10,15,16,3,2,74,85,9
even= [10]
odd = []
even= [10]
odd = [15]
even= [10, 16]
odd = [15]
even= [10, 16]
odd = [15, 3]
even= [10, 16, 2]
odd = [15, 3]
even= [10, 16, 2, 74]
odd = [15, 3]
even= [10, 16, 2, 74]
odd = [15, 3, 85]
even= [10, 16, 2, 74]
odd = [15, 3, 85, 9]

In [2]:
even= [i for i in l if i%2==0]
odd= [i for i in l if i%2==0]

In [3]:
even

[10, 16, 2, 74]

In [4]:
odd

[10, 16, 2, 74]

In [5]:
# return orange instead of apple

In [7]:
fruits = input("enter the fruits name: ").split(",")
lst=[]

for i in fruits:
    if i =="apple":
        lst.append("orange")
    else:
        lst.append(i)

lst

enter the fruits name: apple, orange,kiwi

['orange', ' orange', 'kiwi']

In [10]:
first = [2,3,4,5]
second =[20,30,40,50]

final =[]

for i in first:
    for j in second:
        final.append(j+i)
print(final)

[22, 32, 42, 52, 23, 33, 43, 53, 24, 34, 44, 54, 25, 35, 45, 55]

In [11]:
[j+i for i in first for j in second]

[22, 32, 42, 52, 23, 33, 43, 53, 24, 34, 44, 54, 25, 35, 45, 55]

In [12]:
irst = [2,3,4,5]
second =[20,30,40,50]

final =[]
first.reverse()
second.reverse()

for i in first:
    for j in second:
        final.append(j+i)
print(final)

[55, 45, 35, 25, 54, 44, 34, 24, 53, 43, 33, 23, 52, 42, 32, 22]

# Tuples

. similar to list ( but read only)
. indexable
. immuutable
. allow duplicate values
. tuples are written wiht round brackets
. allow heterogenous elements
. ordered collection of iteams

In [4]:
l = (1,2,3)

In [5]:
type(l)

tuple

In [ ]:
# empty tuple

In [6]:
z = tuple()

In [7]:
type(z)

tuple

In [8]:
# for one element: only parenthesis is not enough

In [9]:
tup= ('hemant')

In [10]:
type(tup)

str

In [11]:
l=[1]

In [12]:
type(l)

list

In [13]:
l = (1,)

In [14]:
type(l)

tuple

In [15]:
# tuple can contain different data types:

In [18]:
T = (2,3,4,False,[2,3,4],(2,3,))

In [20]:
T

(2, 3, 4, False, [2, 3, 4], (2, 3))

In [21]:
# ACCESS ELEMENTS IN TUPLES

In [23]:
T[3]

False

In [24]:
T[-2]

[2, 3, 4]

In [26]:
T[1]

3

In [27]:
T

(2, 3, 4, False, [2, 3, 4], (2, 3))

In [31]:
T[3:6]

(False, [2, 3, 4], (2, 3))

In [34]:
T[:5]

(2, 3, 4, False, [2, 3, 4])

In [35]:
T

(2, 3, 4, False, [2, 3, 4], (2, 3))

In [39]:
T[::-2]

((2, 3), False, 3)

In [40]:
t[]

SyntaxError: invalid syntax (2782616742.py, line 1)

In [44]:
T[1::2]

(3, False, (2, 3))

In [46]:
T[-2:-5:-1]

([2, 3, 4], False, 4)

# Changing a Tuple Not possible

In [49]:
# tuple value change into the list

In [50]:
# join two tuples ( concatintaion)

In [51]:
T1=(1,2,3,4)
T2=('hemant','vinit','naman','rahul')

In [61]:
T3=T2+T1

In [64]:
T3

('hemant', 'vinit', 'naman', 'rahul', 1, 2, 3, 4)

In [65]:
T1+T2

(1, 2, 3, 4, 'hemant', 'vinit', 'naman', 'rahul')

# TUPLES METHODS

. Count
. Index

In [66]:
T3.index(1)

4

In [75]:
T2.index('naman')

2

In [79]:
T2[2].count('a')

2

# Tuple Membership : In / Not In

In [80]:
'hemant' in T3

True

In [81]:
'sonu' in T3

False

In [82]:
'sonu'  not in T3

True

# Unpacking Tuple

In [83]:
T

[2, 3, 4, False, [2, 3, 4], (2, 3)]

In [84]:
len(T)

6

In [86]:
a,b,c,d,e,f=T

In [87]:
a

2

In [88]:
b

3

In [89]:
e

[2, 3, 4]

# Using Asterisk*

In [90]:
a,b,*c=T

In [91]:
a

2

In [92]:
b

3

In [93]:
c

[4, False, [2, 3, 4], (2, 3)]

In [97]:
a,b,c

(2, 3, [4, False, [2, 3, 4], (2, 3)])

In [99]:
T

[2, 3, 4, False, [2, 3, 4], (2, 3)]

In [105]:
*a,b,c=T

In [106]:
T

[2, 3, 4, False, [2, 3, 4], (2, 3)]

# While loop through Tuple

In [2]:
t= tuple (map(int,input("eneter the items").split(",")))


i=0
while i<len(t):
    print(t[i])
    i+=1

eneter the items4,5,6,7,8
4
5
6
7
8

In [3]:
tup = tuple(input("enter the name of language: ").split(","))

i=0
while i<len(tup):
    print(f"{tup[i]} is {len(tup[i])} letters long")
    i+=1

enter the name of language: english,maths,hindi,science,gk
english is 7 letters long
maths is 5 letters long
hindi is 5 letters long
science is 7 letters long
gk is 2 letters long

In [4]:
tup = tuple(input("enter the name of language: ").split(","))

i=0
while i<len(tup):
    print(f"{tup[i]} is {len(tup[i])} letters long")
    i+=1

enter the name of language: English.Maths,S.S.T,Hindi,G.K,Computer,Science
English.Maths is 13 letters long
S.S.T is 5 letters long
Hindi is 5 letters long
G.K is 3 letters long
Computer is 8 letters long
Science is 7 letters long

In [10]:
t= tuple (map(int,input("eneter the items").split(",")))
t=t[::-1]

i=0
while i<len(t):
    print(t[i])
    i+=1

eneter the items1,2,3,45,58,65,25,35
35
25
65
58
45
3
2
1

In [15]:
_tuple = (10,20,30,40,50)
find = int(input("enter the item to be searched "))

i=0
if find in _tuple:
    while i<len(_tuple):
        if _tuple[i]==find:
            print(f"{find} is a index {i} ")
        i+=1
else:
    print(f"{find} is not present ")

enter the item to be searched 10
10 is a index 0

In [18]:
# determine the maximum value in a tuple wihtout using the built - in max() function.
tup = (5,10,15,20,25)

_max=tup[0]
i=0
while i<len(tup):
    if tup[i]>_max:
        _max=tup[i]
    i+=1
        
print(f"{_max} is maximum value in {tup}")

25 is maximum value in (5, 10, 15, 20, 25)

In [2]:
t=tuple(map(int,input("enter the items").split(",")))

i=0
_sum=0
while i<len(t):
    _sum+=t[i]
    i+=1
print(f"sum of items = {sum}")

enter the items5,6,7,8,9
sum of items = <built-in function sum>

In [5]:
tup = (5,10,15,20,25)
_min=tup[0]
i=0
while i<len(tup):
    _min=tup[i]
    
    i+=1
print(f"{_min} is minimum value is {tup}")

25 is minimum value is (5, 10, 15, 20, 25)

In [11]:
tup = (5,10,15,20,25)
_min=tup[0]
for i in tup:
    if i < _min:
        _min=i
print(f"{_min} is minimum value in {tup}")

5 is minimum value in (5, 10, 15, 20, 25)

In [ ]:
tup=()


for i in nested_tuple:
    tup+=t
print(tup)

In [12]:
t=()
t1=(1,2)
t=t+t1

In [13]:
t1=(3,4)
t+t1

(1, 2, 3, 4)

# Tuple comprehension

In [21]:
tup=(1,2,3,4,5,6,7,8,9,10)

In [22]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [23]:
tuple( i for i in tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
tuple(i**2 for i in tup if i%2==0)

(4, 16, 36, 64, 100)

In [25]:
tuple(('e',i) if i%2==0 else ('o',i) for i in tup)

(('o', 1),
 ('e', 2),
 ('o', 3),
 ('e', 4),
 ('o', 5),
 ('e', 6),
 ('o', 7),
 ('e', 8),
 ('o', 9),
 ('e', 10))

In [27]:
t1=[2,3,4]
t2=[5,6,7]

t=()
for i in t1:
    for j in t2:
        t+=(i*j,)
t

(10, 12, 14, 15, 18, 21, 20, 24, 28)

In [28]:
tuple(i*j for i in t1 for j in t2)

(10, 12, 14, 15, 18, 21, 20, 24, 28)

In [ ]:
question :-   write a one-liner generates a tuple of the squares of number from 1 to 10.

In [29]:
tuple(i**2 for i in range(1,11))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [33]:
tuple (i**2 for i in range(2,11,2))

(4, 16, 36, 64, 100)

In [34]:
tuple(i**2 for i in range(1,21) if i%2==0)

(4, 16, 36, 64, 100, 144, 196, 256, 324, 400)

In [36]:
tuple ( i for i in range(1,31) if i%3==0)

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30)

In [ ]:
question :- Given a list numbers, write one - liner creates a tuple of only the positive numbers .

In [38]:
l=[-2,3,-4,5,-6]

tuple ( i for i in l if i>0)

(3, 5)

In [ ]:
# write a program that takes coma - separated number from user input and turns them into a tuple of integers.

In [40]:
tup=tuple(map(int,input("enter the items:").split(",")))

enter the items:2,6,7,8,9,5

In [41]:
# create a tuple of tuples,  each containing a number ( from 1 to 5 ) and its corresponding index in the tuple.

In [42]:
l=['hemant', 'pooja','naman','tanisha']

In [43]:
for i,j in enumerate(l):
    print(i,j)

0 hemant
1 pooja
2 naman
3 tanisha

In [45]:
tuple((i,j) for i,j in enumerate([1,2,3,4,5]))

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5))

In [47]:
n=int(input("enter the n:"))
tuple((i,j) for i,j in enumerate(range(1,n)))

enter the n:10

((0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9))

In [49]:
#  given a sentence , write a one - liner that creates a tuple containing the lenght of each word.

In [51]:
sentence= input("Enter the sentence: ")

tuple(len(x) for x in sentence.split(" "))

Enter the sentence: My name is hemant

(2, 4, 2, 6, 0)

In [1]:
sentence= input("Enter the sentence: ")

tuple(len(x) for x in sentence.split(" "))

Enter the sentence: " hello world "

(1, 5, 5, 1)

# SET DATA TYPE

In [7]:
s=set(range(10))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
s=set(range(100))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [3]:
s=set(range(15))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [13]:
s=set(range(51))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

[] list
() tuple
{} set/ dictinory

In [10]:
l={}

In [12]:
type(l)

dict

In [14]:
s1={2,3,4,5,6}

In [15]:
type(s1)

set

In [16]:
d1={1:"hemant"}

In [17]:
type(d1)

dict

In [22]:
s={2,3,1,5,6,4,2,3,7,7,"hemant","naman","tanisha"}

In [23]:
type(s)

set

In [24]:
s

{1, 2, 3, 4, 5, 6, 7, 'hemant', 'naman', 'tanisha'}

In [27]:
s1 = {1,True,1,2,3,4,5,2.0,1.0,3.0,4.0}

In [28]:
s1

{1, 2, 3, 4, 5}

In [31]:
s1 = { 1.0,0,False,2.0,3,2}

In [32]:
s1

{0, 1.0, 2.0, 3}

In [36]:
s2 = {"hemant",1,"naman",True,0,2.0,1.0,3.0,(1,2)}

In [37]:
s2

{(1, 2), 0, 1, 2.0, 3.0, 'hemant', 'naman'}

In [38]:
# membership operator :

In [39]:
s

{1, 2, 3, 4, 5, 6, 7, 'hemant', 'naman', 'tanisha'}

In [40]:
3 in s

True

In [41]:
10 in s

False

In [47]:
"sona"  in s

False

In [48]:
s

{1, 2, 3, 4, 5, 6, 7, 'hemant', 'naman', 'tanisha'}

In [49]:
# lenght of set ()

In [50]:
len(s)

10

In [52]:
# copy  mehtod

In [53]:
s3= s.copy()

In [54]:
s3

{1, 2, 3, 4, 5, 6, 7, 'hemant', 'naman', 'tanisha'}

In [55]:
#  adding elements to set: add()

In [56]:
s3

{1, 2, 3, 4, 5, 6, 7, 'hemant', 'naman', 'tanisha'}

In [58]:
s3.add(77)

In [59]:
s3

{1, 2, 3, 4, 5, 6, 7, 77, 'hemant', 'naman', 'tanisha'}

In [62]:
s3.add("wizard wolf")

In [63]:
s3

{1, 2, 3, 4, 5, 6, 7, 77, 'hemant', 'naman', 'tanisha', 'wizard wolf'}

In [65]:
s3.add('jemmy',)

In [66]:
s3

{1, 2, 3, 4, 5, 6, 7, 77, 'hemant', 'jemmy', 'naman', 'tanisha', 'wizard wolf'}

In [67]:
s3.add(45)

In [69]:
print(s3)

{1, 2, 3, 4, 5, 6, 7, 'naman', 77, 45, 'jemmy', 'hemant', 'wizard wolf', 'tanisha'}

In [70]:
# upadte method

In [73]:
s3.update(['Roman',22,'king',21])

In [75]:
print(s3)

{1, 2, 3, 4, 5, 6, 7, 'naman', 77, 45, 'jemmy', 'king', 22, 21, 'hemant', 'wizard wolf', 'tanisha', 'Roman'}

In [76]:
s3.update('himasnhu')

In [78]:
print(s3)

{1, 2, 3, 4, 5, 6, 7, 'i', 21, 22, 'hemant', 'Roman', 'n', 'u', 'naman', 's', 45, 'king', 'tanisha', 'h', 77, 'm', 'a', 'jemmy', 'wizard wolf'}

In [79]:
s3.remove('hemant')

In [81]:
print(s3)

{1, 2, 3, 4, 5, 6, 7, 'i', 21, 22, 'Roman', 'n', 'u', 'naman', 's', 45, 'king', 'tanisha', 'h', 77, 'm', 'a', 'jemmy', 'wizard wolf'}

In [84]:
s3.remove('spider men')

KeyError: 'spider men'

In [85]:
s3.discard('spider men')

In [87]:
print(s3)

{1, 2, 3, 4, 5, 6, 7, 'i', 21, 22, 'Roman', 'n', 'u', 'naman', 's', 45, 'king', 'tanisha', 'h', 77, 'm', 'a', 'jemmy', 'wizard wolf'}

In [94]:
s3.pop()

2

In [95]:
print(s3)

{3, 4, 5, 6, 7, 'i', 21, 22, 'Roman', 'n', 'u', 'naman', 's', 45, 'king', 'tanisha', 'h', 77, 'm', 'a', 'jemmy', 'wizard wolf'}

In [96]:
s3.clear()

In [97]:
print(s3)

set()

In [98]:
del s3

In [99]:
s3

NameError: name 's3' is not defined

# SET OPERATION

In [1]:
s1={'a','b','c,','d',3}
s2={1,2,3}

In [2]:
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c,', 'd'}

In [3]:
s1|s2

{1, 2, 3, 'a', 'b', 'c,', 'd'}

In [4]:
s1

{3, 'a', 'b', 'c,', 'd'}

In [5]:
s2

{1, 2, 3}

In [6]:
s1.update(s2)

In [7]:
s1

{1, 2, 3, 'a', 'b', 'c,', 'd'}

# Intersection () Method

In [8]:
s1={'a','b','c',3}
s2={1,2,3,}

In [9]:
s1&s2

{3}

In [10]:
A={'apple','kiwi','mango','orange'}
B={'nike','puma','kiwi'}

In [11]:
A&B

{'kiwi'}

In [12]:
A.difference(B)

{'apple', 'mango', 'orange'}

In [14]:
B.difference(A)

{'nike', 'puma'}

In [15]:
A-B

{'apple', 'mango', 'orange'}

In [16]:
B-A

{'nike', 'puma'}

# Symmetric difference () Method

In [17]:
A={'apple','kiwi','mango','orange'}
B={'nike','puma','kiwi'}

In [18]:
A.symmetric_difference(B)

{'apple', 'mango', 'nike', 'orange', 'puma'}

# Difference update

In [20]:
A.difference_update(B)

In [21]:
A

{'apple', 'mango', 'orange'}

In [22]:
B

{'kiwi', 'nike', 'puma'}

# Intersection_update()

In [26]:
a={'hemant','naman','vinit',21,22}
b={'akash', 21, 22,'hemant','puma','nike'}

In [27]:
a.intersection(b)

{21, 22, 'hemant'}

In [28]:
a.intersection_update(b)

In [29]:
a

{21, 22, 'hemant'}

In [30]:
b

{21, 22, 'akash', 'hemant', 'nike', 'puma'}

# Symmertic_difference_update

In [38]:
x = {'apple','banana','kiwi','orange'}
y = {'apple','google','microsoft'}

In [39]:
x.symmetric_difference_update(y)

In [40]:
print(x)

{'google', 'banana', 'microsoft', 'orange', 'kiwi'}

In [41]:
print(y)

{'apple', 'google', 'microsoft'}

In [42]:
x.isdisjoint(y)

False

In [43]:
x = {'apple','banana','kiwi','orange'}
y = {'facebook','google','microsoft'}

In [44]:
x.isdisjoint(y)

True

# issubset

In [46]:
A={1,2,3}
B={1,2,3,4,5,6}

In [47]:
A.issubset(B)

True

In [48]:
B.issubset(A)

False

In [49]:
A.issuperset(B)

False

In [ ]:
#loop in set